
                html{
                    scroll-behavior: smooth !important;
                }
                
                body {
                    height: max-content ;
                    overflow-x: hidden !important;
                    font-family: 'Lato', sans-serif !important;
                    font-size: 16px !important;
                    font-weight: 300 !important;
                    line-height: 1.6 !important;
                    position: relative !important;
                    -webkit-font-smoothing: antialiased !important;
                }

                .main-container{
                    overflow-y: block !important;
                    padding: 35px !important;
                }
                
                  .modal{
                      overflow: hidden !important;
                  }
                
                  
                /* 4K*/
                @media screen and (min-width: 2585px) {
                    body .container {
                        max-width: 2585px;
                    }
                    .abtn {
                        flex-direction: column !important;
                        display: flex !important;
                        height: 51px !important;
                        border-radius: 0 !important;
                        width: 51px !important;
                    }
    
                    .abtn::after {
                        width: 11px !important;
                        margin: auto !important;
                    }

                    .sizedrop{
                        min-height: 51px !important; 
                        min-width: 51px !important;
                    }
                    .sizedropmenu{
                        min-height: 51px !important; 
                        min-width: 51px !important;
                    }
                }

                /* 4K*/
                @media screen and (max-width: 2585px) {
                    body .container {
                        max-width: 2585px;
                    }
                    .abtn {
                        flex-direction: column !important;
                        display: flex !important;
                        height: 51px !important;
                        border-radius: 0 !important;
                        width: 51px !important;
                    }
    
                    .abtn::after {
                        width: 11px !important;
                        margin: auto !important;
                    }

                    .sizedrop{
                        min-height: 51px !important; 
                        min-width: 51px !important;
                    }
                    .sizedropmenu{
                        min-height: 51px !important; 
                        min-width: 51px !important;
                    }
                }


                .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, 
                .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, 
                .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md,
                .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
                .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12,
                .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto,
                .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5,
                .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {

                    padding-left: 0px !important;
                    padding-right: 0px !important;
                }

                .top-buffer { margin-top:20px; }

            /*Scroll part */

                body::-webkit-scrollbar {
                    width: 14px;
                    height: 18px;
                    background-color: transparent;
                }
                body::-webkit-scrollbar-thumb {
                    height: 20px;
                    border: 4px solid rgba(0, 0, 0, 0);
                    background-clip: padding-box;
                    -webkit-border-radius: 0px;
                    background-color: #000000;
                    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);

                }
                body::-webkit-scrollbar-button {
                    width: 0;
                    height: 0;
                    display: none;
                }
                body::-webkit-scrollbar-corner {
                    background-color: transparent;
                }
                
            /* scroll done */

              .btn:focus,.btn:active {
                outline: none !important;
                box-shadow: none !important;
             }
             
            h2,h3,h4,h5,h6 {
                font-weight: 540 !important;
                font-size: x-large !important;
            }

            h4 {
            text-transform: none !important;
            }
              
            .page-title {
                color: #262626;
                letter-spacing: 1px;
                margin: 0 0 20px;
                padding-top: 20px;
                text-transform: uppercase;
                text-align: center;
            }

            .title{
                background-color: #9fbedf


                ;
            }


            /*Menu Dropdown*/
            .overlay {
                height: 0%;
                width: 100%;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                /*background-color: #a10102;*/
                background-color: #c6d8ec;;
                overflow-y: scroll;
                transition: 0.5s;
                opacity: 0.95

            }

            .overlay-content {
                position: absolute;
                top: 15%;
                width: 100%;
                text-align: center;
                line-height: 1.3;
            }

            .overlay a {
                padding: 10px;
                text-decoration: none;
                font-size: 30px;
                color: black !important;
                display: block;
                transition: 0.3s;
            }

            .overlay a:hover, .overlay a:focus {
                font-size: 35px;
                color: black !important;
                text-decoration: none !important;
            }

            .overlay .closebtn {
                position: absolute;
                top: 20px;
                right: 45px;
                font-size: 60px;
            }


            @media screen and (max-height: 450px) {
            .overlay {overflow-y: auto;}
            .overlay a {font-size: 20px}
            .overlay .closebtn {
                font-size: 40px;
                top: 15px;
                right: 35px;
            }
            }


            @media (max-width: 455px) {
            .site-header{
                width: 120% !important; 
                height: 105% !important;
            }
            .navbar-top{
                width: 120% !important;
            }
            }

            .section .container {
                margin-right: 20% !important;
            }

            .about{
                padding: 70px 0 70px 0;
            }

            .schedule{
                padding: 70px 0 70px 0;
            }

            .schedule-box {
                position: relative;
                /*background-color: #fff;*/
                color: #000;
                text-align: left;
                padding: 25px 0 25px 0;
                /*margin: 25px 0 0;*/
            }
            .schedule-box::before {
                content: '';
                position: absolute;
                top: 5px;
                right: 5px;
                bottom: 5px;
                left: 5px;
                /*border: 1px solid #fff;*/
            }

            .schedule-box {
                position: relative;
                /*background-color: #fff;*/
                color: #000;
                text-align: left;
                padding: 25px 0 25px 0;
                /*margin: 25px 0 0;*/
                }
                .schedule-box::before {
                content: '';
                position: absolute;
                top: 5px;
                right: 5px;
                bottom: 5px;
                left: 5px;
                /*border: 1px solid #fff;*/
            }

            @media (min-width: 992px) {
                .schedule-box {
                  margin: 0;
                }
            }

            .section-title {
                color: #313131;
                letter-spacing: 1px;
                margin: 0 0 35px;
                text-transform: uppercase;
                text-align: center;
              }